#spinner {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 2;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
}

#videoContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#video {
    display: block;
    position: absolute;
}

#videoTarget {
    border: 3px solid red;
    display: block;
    position: absolute; 
}

#canvas {
    display: none;
}

#takePhoto {
    z-index: 1;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#switchCamera {
    z-index: 1;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
